*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  position: relative;
  min-height: 100vh;
  color: #1B1B1C;
  font-size: 16px;
  font-family: "Arial", sans-serif; }

ul, li, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: skyblue;
  font-weight: 400; }

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer; }

iframe {
  border: none; }

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff; }
  .wrapper .hidden {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -1; }
  .wrapper .fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999; }
    .wrapper .fixed .pop_up__window {
      padding: 40px; }
    .wrapper .fixed::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: -1; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.required {
  color: red;
  font-weight: 700; }

.unscroll {
  overflow: hidden; }

.selected {
  width: 100%;
  height: 100%;
  background-color: #000; }

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%; }
  .icon__container {
    position: relative;
    color: #de1b1b;
    width: 80px;
    height: 80px;
    margin: 0 auto; }

.button {
  border-radius: 5px;
  -webkit-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease; }

.close::after, .close::before {
  display: block;
  content: "";
  width: 2px;
  height: 1.3em;
  background: currentColor;
  position: absolute;
  left: -1px;
  right: 0;
  top: 0;
  margin-top: .35em;
  margin-left: 1em; }

.header__attention__gradient, .whats__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 0; }

.header {
  width: 100%;
  min-height: 700px; }
  .header .logotip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    .header .logotip .image {
      width: 200px; }
  .no-webp .header__main {
  background-image: url("../images/back.jpg"); }
  .header__main {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #ddd;
    background-position: center;
    background-attachment: fixed;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc( 100% - 171.66px); }
    .header__main__tile {
      position: relative;
      font-size: 40px;
      line-height: 1.2;
      z-index: 11; }
    .header__main__text {
      position: relative;
      padding: 10px 0 50px 0;
      color: #4f4f4f;
      z-index: 11; }
  .header__attention {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 150px;
    z-index: 11; }
    .header__attention__container {
      width: auto;
      max-width: 562px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 5px; }
    .header__attention .pop_up__button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 10px 15px;
      background-color: #de1b1b;
      color: #fff;
      font-weight: 700; }
      .header__attention .pop_up__button--icon {
        margin-left: 10px;
        height: 25px;
        fill: #fff; }
    .header__attention__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20px; }
      .header__attention__item .image {
        width: 60px;
        height: 60px; }
    .header__attention__text {
      text-align: left; }
      .header__attention__text h3 {
        padding-bottom: 5px; }
  .header__extra__buttons {
    position: relative;
    padding: 50px 0;
    z-index: 11; }
    .header__extra__buttons .extra__button {
      color: #4f4f4f;
      padding: 12px 22px;
      margin-right: 50px;
      background-color: #fff; }
      .header__extra__buttons .extra__button:last-child {
        margin-right: 0; }

.testing {
  padding: 20px 0; }
  .testing .line {
    width: 50%;
    margin: 20px auto;
    height: 1px;
    background-color: #000; }
  .testing .mark_line {
    width: 80%;
    padding: 7px 15px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background-color: #de1b1b;
    border-radius: 5px; }

.pop_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 500px; }
  .pop_up__window {
    position: relative;
    width: 1000px;
    border-radius: 3px;
    background-color: #fff; }
  .pop_up .image_group {
    gap: 25px; }
    .pop_up .image_group__item {
      position: relative;
      display: block;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      .pop_up .image_group__item--checked {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 12;
        visibility: hidden; }
        .pop_up .image_group__item--checked:checked + .image_group__img .image_group__item--active {
          opacity: 1; }
        .pop_up .image_group__item--checked:checked + .image_group__img .check__icon {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0); }
      .pop_up .image_group__item--active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        -webkit-transition: all .35s ease;
        -o-transition: all .35s ease;
        transition: all .35s ease;
        border-radius: 3px #0302024d;
        opacity: 0;
        z-index: 1; }
      .pop_up .image_group__item--check {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        z-index: 11; }
        .pop_up .image_group__item--check .check__icon {
          width: 100%;
          height: 100%;
          border-radius: 40px;
          background-color: red;
          -webkit-transform: scale(0.85);
              -ms-transform: scale(0.85);
                  transform: scale(0.85);
          -webkit-transition: all .35s ease;
          -o-transition: all .35s ease;
          transition: all .35s ease; }
          .pop_up .image_group__item--check .check__icon path {
            fill: #fff; }
    .pop_up .image_group__img {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: rgba(27, 27, 28, 0.5);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 3px; }
    .pop_up .image_group__text {
      display: block;
      width: 100%;
      max-width: 200px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
      color: #4f4f4f; }
  .pop_up__extra {
    display: block;
    width: 50%;
    max-width: 550px;
    margin: 0 auto; }
  .pop_up--input {
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 0;
    padding: 12px 25px 11px 15px;
    background-color: rgba(27, 27, 28, 0.1);
    border-radius: 5px;
    min-height: 56px;
    line-height: 1.333;
    font-size: 16px; }
  .pop_up__control {
    margin-top: 50px;
    gap: 40px; }
    .pop_up__control--option {
      padding: 12px 0;
      color: gray; }
    .pop_up__control .button--left {
      width: 46px;
      height: 46px;
      line-height: 4;
      background-color: #de1b1b; }
      .pop_up__control .button--left:hover {
        background-color: #d54343; }
      .pop_up__control .button--left__icon {
        width: 18px;
        height: 14px;
        margin: 0 auto; }
        .pop_up__control .button--left__icon path {
          fill: #fff; }
    .pop_up__control .button--next {
      padding: 12px 22px;
      color: #fff;
      background-color: #de1b1b; }
      .pop_up__control .button--next:hover {
        background-color: #d54343; }

.test__variations {
  position: relative;
  padding-top: 10px; }
  .test__variations h2 {
    width: 70%;
    max-width: 560px;
    font-size: 30px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .35px;
    margin: 0 auto;
    margin-bottom: 50px; }

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #777;
  width: 2em;
  height: 2em;
  cursor: pointer;
  -webkit-transition: color ease .3s;
  -o-transition: color ease .3s;
  transition: color ease .3s; }
  .close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close:hover {
    color: #1b1b1c; }

#stage_data form label:first-child input {
  margin-bottom: 10px; }

.completed {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  min-height: 400px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px; }
  .completed h3 {
    padding-top: 5px;
    font-size: 22px;
    line-height: 1.37; }
  .completed p {
    padding-top: 5px;
    font-size: 16px;
    line-height: 1.5; }
  .completed__button {
    width: 88px;
    height: 46px;
    line-height: 46px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #ED4747;
    border-radius: 100px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }
    .completed__button:hover {
      background-color: #e16464; }
  .completed .close {
    top: 10px;
    right: 10px; }

.whyAboutUs {
  padding: 0 20px 40px; }
  .whyAboutUs__tile {
    text-align: center;
    font-size: 35px; }
  .whyAboutUs__text {
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
    line-height: 1.37; }
  .whyAboutUs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px; }
  .whyAboutUs__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 350px; }
    .whyAboutUs__item__circle {
      width: 60px;
      height: 60px;
      margin-right: 15px;
      border-radius: 60px;
      background-color: #de1b1b; }
    .whyAboutUs__item__content {
      width: calc( 100% - 60px);
      text-align: left; }
      .whyAboutUs__item__content h3 {
        font-size: 24px;
        line-height: 1.37; }
      .whyAboutUs__item__content p {
        line-height: 1.5; }

.no-webp .whats {
  background-image: url("../images/back.jpg"); }

.whats {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #ddd;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 0 20px; }
  .whats__container {
    position: relative;
    width: 50%;
    z-index: 11; }
    .whats__container h2 {
      font-size: 48px; }
    .whats__container p {
      font-size: 22px;
      padding: 15px 0 25px;
      color: #4f4f4f; }
  .whats .extra__button {
    max-width: 200px;
    padding: 12px 22px;
    margin: 0 auto;
    background-color: #de1b1b;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #fff; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .logotip .image {
    width: 200px; }
  .footer .soc-network__text {
    text-align: center;
    padding: 10px 0; }
  .footer .soc-network__container {
    gap: 20px; }
  .footer .soc-network__link {
    position: relative;
    display: block;
    color: #4f4f4f; }
    .footer .soc-network__link:hover::after {
      content: attr(data-description);
      position: absolute;
      bottom: 45px;
      right: 55px;
      padding: 5px;
      background: #ffe;
      border: 1px solid #666;
      border-radius: 5px; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-button {
  background-color: #1f1f1f; }

::-webkit-scrollbar-thumb {
  background-color: gray; }

.webp .header__main { background-image: url(../images/back.webp); }

.webp .whats { background-image: url(../images/back.webp); }
